<b>
                                IMPERIUM
                                ********

{% if user %}
 Logged as {{user}}.
{% else %}
 Not logged in.
{% endif %}

{% if not user %}
 L)ogin
{% else %}
 P)lay
 D)isconnect
{% endif %}

 A)bout Imperium


 Q)uit

